.App {
  text-align: center;
  padding-top: 5px;
}

.App-logo {
  
  pointer-events: none;  
  width:"30";
  height:"30";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #110f82;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cabecalho {
  width: 100%;
  padding: 5px;
  background-color: #110f82;  
  color: white;
  align-items: stretch;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title {
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

img {
  max-width: 25%;
  height: auto;
}

.form-container {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  margin-top: 0;
}

.table-container {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table-container h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 10px;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.imagem-sobreposta {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  max-width: 100%;
  max-height: 200px;
}

.imagem-fundo {
  max-width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
}

.titulo-com-sombra h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.3);
}

.imagem-dxinfo {
  max-width: 100%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 5px;
}

.navbar {
  background-color: #110f82;
}

.navbar-brand,
.nav-link {
  color: #ffffff !important;
}


.navbar .nav-link:hover {
  color: #f9fbfd; /* Altere para a cor desejada durante o hover */
  background-color: #51b9f5; /* Adicione um fundo transparente ou altere conforme necessário */
}



.title {
  font-size: 4rem;
  font-family: fantasy;
  animation: scale 2s ease-in-out infinite alternate;

}

.subtitle {
  font-size: 2rem;
  animation: slide-in 2s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.texto {
  font-size: 1rem;
  animation: slide-in 2s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
  
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.zoomable-image {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.7;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
}

.carousel-box .card-body {
  width: 900px;
  height: 400px;
  margin: auto;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.dxinfo-box {
  width: 1200px;
  height: 500px;
  margin: auto;
  align-items: center;
}

.inicio {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  margin: auto;
  align-items: center;
}

.inicio h1 {
  font-size: 3rem;
  font-weight: bold;
  
}

.inicio h2 {
  font-size: 2rem;  
  font-weight: bolder;
}

.home {
  background-color: #ffffff;
  height: 95vh;
  width: 95%;
  color: #110101;
  opacity: 1;
  border: 2xp solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888;
  font-family: monospace;
  text-align: center;
}

.home::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(222, 224, 240, 0.5);
}

.home .carousel {
  opacity: 1;
  border: 2xp solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888;
  font-family: monospace;
  text-align: center;
}


.robodex {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  background-repeat: repeat;
  background-size: 15% auto;
  overflow: hidden;
}

.robodex::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(133, 143, 231, 0.5);
}

.robodex .carousel {
  opacity: 1;
  border: 2xp solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888;
  font-family: monospace;
  text-align: center;
  height: 500px;
  background-color: #ffffff;
}

.robodex .carousel h2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.grupobotoestg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  
}

.botoestg {
  background-color: #ffffff;
  box-shadow: 2px 2px 4px #888;
  color: #110f82;
}

.botoestg:hover {
  background-color: gray;
  color: #ffffff;
}

.imagem-robodex {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 230px;
  height: 320px;
}

.filtro {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  background-repeat: repeat;
  background-size: 15% auto;
}

.filtro::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(133, 143, 231, 0.5);
}

.filtroform {
  position: relative;
  z-index: 1;
  border: 2xp solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888;
  text-align: justify;
  background-color: #ffffff;

}

.negrito {
  font-weight: bold;
}

.botaovoltar {
  background-color: #110f82;
  font-size: large;
  color: #ffffff;
  position: relative;
  z-index: 1;
  width: 150px;
  height: 40px;
}

.imagem-enviar {
  z-index: 999;
  width: 130px;
  height: 220px;
}

.imagem-balao {
  z-index: 999;
  width:  50px;
  height: 100px;
  margin-top: 50px;
}

.carousel-images-container {
  display: flex;
  justify-content: center;
  margin-top: -250px;
  gap: 1rem;
}

.overlay-image-esquerda {
  position: absolute;
  top: 25px;
  left: 20px;
}

.overlay-image-direita {
  position: absolute;
  top: 25px;
  right: 20px;
}

.buttonclick {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  line-height: 30px;
  
  background: #fff;
  width: 100px;
  padding: 20px 30px;

  border: 5px solid #110f82;
  color: #110f82;
  font-weight: bold;
  text-transform: uppercase;
  text-align:center;
  
  z-index: 2;
  @include transition(all .15s .15s ease-out);

    &:after,
    &:before {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 100%;
        left: 0;
        bottom: -10px;
        content: '';
        z-index: 1;
        @include transition(all .15s .15s ease-out);
    }

    &:before {
        background: #110f82;
        top: 10px;
        left: -15px;
        height: 100%;
        width: 15px;
    }

    &:after {
        width:100%;
        background: #110f82;
        right: 0px;
        left: -15px;
        height: 15px;
    }

    &:hover {
      background: #110f82;
      color: #fff;
      margin-left: -7.5px;
      margin-bottom: -7.5px;

      &:after,
      &:before {
          top: 100%;
          left: 0;
          bottom: 0px;
      }

      &:before {
          top: 0px;
          left: 0px;
          width: 0px;
      }

      &:after {
          right: 0px;
          left: 0px;
          height: 0px;
      }

    }
}

